* {
    -webkit-tap-highlight-color: transparent;
}


body {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.all{
    display: inline;
    background-color: aquamarine;
    border-radius: 50px;
    max-height: fit-content;
    
    
    }
.numberButtons>button{
    margin: 10px;
    cursor: pointer;
    border: 0px;
    border-radius: 100px;
    height : 50px;
   


}
.numberButtons{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
 
   
}
button:hover{
    background-color: lightblue;
    border: 0px;
}
#inputField{
background-color: rgb(135, 158, 205);
border: none;
padding: 10px;
font-size: 20px;
color: white;
text-align: center;
border-top-right-radius: 20px;
border-top-left-radius: 20px;

}
.g{
    background-color: rgb(210, 185, 163);
}